# Virtual environment
venv/
__pycache__/
*.pyc

# Sensitive Info (DO NOT REMOVE FROM GITIGNORE)
.env
config.py
serviceAccountKey.json

# Local Progress & Quotas
key_usage.json
progress.json
progress/

# Temp Data & Output
output/
temp_pages/
test_crops/
pdfs/

# Local Logs
*.log

# Mac OS junk
.DS_Store
